@use "~@fider/assets/styles/variables.scss" as *;

.c-form-error {
  color: var(--colors-red-600);
  font-size: 12px;
  margin-top: 6px;
  overflow-wrap: anywhere;
  ul {
    list-style: none;
    padding-inline-start: sizing(1);
    margin: 0;
  }
}
