@use "~@fider/assets/styles/variables.scss" as *;

.c-textarea {
  background-color: var(--colors-white);
  color: var(--colors-black);
  width: 100%;
  line-height: 1.55;
  padding: spacing(2) spacing(3);
  resize: none;
  border: 1px solid var(--colors-gray-300);
  border-radius: get("border.radius.medium");
  -webkit-appearance: none;
  appearance: none;
  min-height: 44px;
  box-shadow: none;
  border-color: var(--line);
  color: var(--ink-950);
  background: var(--paper);
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &::placeholder {
    color: var(--ink-500);
  }

  &:disabled {
    @include disabled();
  }
  &--error {
    border-color: var(--colors-red-600);
  }
}

@media (max-width: 680px) {
  .c-textarea {
    font-size: 16px;
  }
}
