@use "~@fider/assets/styles/variables.scss" as *;

.c-username {
  color: var(--colors-gray-900);
  font-weight: 600;
  display: inline-flex;
  align-items: center;

  &--staff {
    color: var(--colors-primary-base);
    border-color: var(--colors-primary-base);

    div {
      svg {
        height: 14px;
        vertical-align: middle;
        margin-inline-start: 2px;
        align-items: flex-end;
      }
    }
  }
}
