@use "~@fider/assets/styles/variables.scss" as *;

.c-notification-indicator {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  .c-notification-indicator-unread-counter {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: var(--colors-red-500);
    height: sizing(2);
    width: sizing(2);
    border-radius: 100%;
  }
}

.c-notifications-container {
  max-height: 80vh;
  overflow-y: auto;
  @include media("lg") {
    min-width: 400px;
  }
}
